@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-6xl;
  }
  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-4xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

p { padding-top:1em;}

a {text-decoration: underline;}
a:focus {border:1px solid rgba(149, 157, 165, 0.2);}

img.thumb {
  aspect-ratio: 1/1;
  max-width:3rem;
}
.people-gallery {
  padding:2rem;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  max-width:50rem;
  gap:1rem;
  margin-inline:auto;

}

.people-gallery li {
  padding:3rem;
  transition: scale 350ms ease, opacity 350ms linear;

}

.people-gallery:has(li:hover) li:not(:hover) {
  scale: .8;
  opacity: .7;
}

.boxShadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ol li {padding:.5em 1em; font-size:smaller; font-weight:200;}

.ais-SearchBox { margin: 1em 0; text-align: center; padding:1em;}
.ais-SearchBox-input { padding-left:1em; min-width: 90%;  min-height: 3rem; background-color:#f7f7f7; color:#808080;}
.ais-Pagination-list {margin-left:25%;}
.ais-Pagination-item {display: inline; padding:0 1em;}
.ais-RefinementList-item {padding-bottom:.15em;}
.ais-RefinementList-labelText {padding-left:1em; font-size:.9rem; font-weight:100; }
.ais-RefinementList-count {margin-left:.3em; padding:0 .5rem; color:#cecfce; font-size:.75rem;}
.ais-Stats {padding-bottom:.8rem;}
.ais-SearchBox-submitIcon {width:20px; height: 20px; margin-left:5px;}
.ais-SearchBox-reset {margin-left:1em;}
.ais-SortBy {float:right;}
.ais-Hits-item {padding-top:1em; font-weight:200;}

